<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370359903366-mp7gviiriul3v59og43fcffs9amvhihl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370359903366-mp7gviiriul3v59og43fcffs9amvhihl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>370359903366-1pbbbqbn1rallt0voqvlkghu0opp26ri.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBs2jASdnQQ5FvJC0sjZJZwJfbkbOeFUIg</string>
	<key>GCM_SENDER_ID</key>
	<string>370359903366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibis.sakshamHomeopathy</string>
	<key>PROJECT_ID</key>
	<string>saksham-homeopathy</string>
	<key>STORAGE_BUCKET</key>
	<string>saksham-homeopathy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370359903366:ios:82010ad06aec4950b91d07</string>
	<key>DATABASE_URL</key>
	<string>https://saksham-homeopathy.firebaseio.com</string>
</dict>
</plist>